body {
  background: white;
}

.container {
  background: lightslategray;
  width: 60%;
  display: block;
  margin: 30px auto;
}

h1 {
  color: white;
  margin: 20px;
  padding: 10px 20px;
}

.search-form {
  margin: 30px;
}

.search-form-input {
  padding: 15px 20px;
  width: 50%;
}
.submit-button {
  background: darkgray;
  color: white;
  padding: 15px 20px;
  width: 15%;
  transition: all 150ms ease-in-out;
}
.submit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.hint {
  opacity: 0.4;
}
.quote {
  padding: 10px 15px;
  background: white;
  margin: 30px;
  display: none;
}
.quote strong {
  color: #1c2aec;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.generating {
  animation: blink 1s step-start 0s infinite;
}
footer {
  margin: 30px;
  color: white;
  padding: 15px;
}
a {
  color: #1c2aec;
}
